---
layout: mvp
permalink: "/admin"
---
{% assign week19 = site.data.mvpv3 | where: "week","19" %}
{% assign week20 = site.data.mvpv3 | where: "week","20" %}
{% assign week21 = site.data.mvpv3 | where: "week","21" %}
{% assign week22 = site.data.mvpv3 | where: "week","22" %}
{% assign week23 = site.data.mvpv3 | where: "week","23" %}
{% assign week24 = site.data.mvpv3 | where: "week","24" %}
{% assign week25 = site.data.mvpv3 | where: "week","25" %}
{% assign week26 = site.data.mvpv3 | where: "week","26" %}

<h1>Admin View</h1>
<p class="subhead"><a href="https://docs.google.com/spreadsheets/d/1F-zfXlRT6-4Xa2T-cckYQwzTp7SExaSBwfbX4YNBSZ0/edit#gid=2139753352">Google Sheet</a> | <a href="/">Design for user test</a> | <a href="/date-only">Date-only version</a> | <a href="/eow">End-of-week version</a></p>

<div class="feed-wrapper clearfix">
  <div class="feed-controls">
    <a class="new_post_button">+ Create Social Post</a>
    <div class="tile tile-calendar" data-current-month="May">
      <span class="calendar-next"></span>
      <span class="calendar-prev"></span>
      <span class="calendar-today"></span>
      <img class="calendar-image" width="100%" src="/assets/images/cal-may.png" />
    </div>

    <!-- <h4 class="tile-scheduled-posts--heading">My Scheduled Posts:</h4>
    <div class="tile tile-scheduled-posts" style="height: 200px;"></div> -->
  </div>



  <div class="feed-main">

    <article>
      <div class="secondary date_range">
        <div class="date-ribbon">
          <h3>This Week</h3>
          <h4>May 16–22</h4>
        </div>
      </div>
      <div class="primary tile-wrapper">
        <div class="tile tile--featured tile--with-carousel">
          <h3 class="tile--title">Graduation season is here!</h3>
          <div class="tile--carousel-controls">
            <span class="tile--carousel-prev"></span><span class="tile--carousel-next"></span>
          </div>
          <div class="tile--carousel-wrapper">
            <div class="tile-carousel-item tile-carousel-item--post">
              <img class="tile-carousel-item--post--image" src="/assets/images/sample-posts/grad1.png" />
              <div class="tile-carousel-item--post--caption">Congratulations to the class of 2021! 🎓🎉 Celebrate them with a gift that will last a lifetime.</div>
              <div class="tile-carousel-item--post--cta"><a href="">Schedule This Post</a></div>
            </div>
            <div class="tile-carousel-item tile-carousel-item--post">
              <img class="tile-carousel-item--post--image" src="/assets/images/sample-posts/grad2.png" />
              <div class="tile-carousel-item--post--caption">Place your orders for graduation now 🎓 #graduationcakes #cakesofinstagram.</div>
              <div class="tile-carousel-item--post--cta"><a href="">Schedule This Post</a></div>
            </div>
            <div class="tile-carousel-item tile-carousel-item--post">
              <img class="tile-carousel-item--post--image" src="/assets/images/sample-posts/grad3.png" />
              <div class="tile-carousel-item--post--caption">Lookin’ GOOD, grad! 🎓 Get your fresh cut for graduation at our salon. 💇 </div>
              <div class="tile-carousel-item--post--cta"><a href="">Schedule This Post</a></div>
            </div>
            <div class="tile-carousel-item tile-carousel-item--post">
              <img class="tile-carousel-item--post--image" src="/assets/images/sample-posts/grad4.png" />
              <div class="tile-carousel-item--post--caption">A few more prints of out favorite makeup, carry all, anything, FUN bags have arrived just in time for Graduation 👩‍🎓</div>
              <div class="tile-carousel-item--post--cta"><a href="">Schedule This Post</a></div>
            </div>
          </div>
        </div>
        <div class="tile-minivan">
          <h3 class="tile-minivan--heading">Dates of Interest</h3>
          {% for date in week20 %}
          <div class="tile">
            <div class="tile--icon"><img src="/assets/images/emojis/{{date.icon}}.png" /></div>
            <div class="tile--body">
              <p class="tile--details"><a href="">Details</a></p>
              <h3 class="tile--title">{{date.name}}</h3>
              <p class="tile--date">{{date.date | date: "%A, %b %d" }}</p>
              <div class="tile--expandedContent">
                <p class="tile--description">{{date.description}}</p>

                {% assign hashtags = date.hashtags | split: " " %}
                <div class="tile--hashtags-wrapper">
                {% for hashtag in hashtags %}
                  <div class="tile--hashtag-pill">
                    <p>
                      <span class="tile--hashtag-itself">{{hashtag}} <span class="tile--hashtag-copy" data-hashtag="{{hashtag}}">(<u>copy</u>)</span></span>
                      <span class="tile--hashtag-outbound">View on <a href="https://www.instagram.com/explore/tags/{{hashtag | slice: 1, hashtag.size}}/" target="_blank">Instagram</a></span>
                    </p>
                  </div>
                {% endfor %}
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </article>

    <article>
      <div class="secondary date_range">
        <div class="date-ribbon">
          <h3>Next Week</h3>
          <h4>May 23–29</h4>
        </div>
      </div>
      <div class="primary tile-wrapper">

        <div class="tile tile--featured tile--with-carousel tile--with-prompts tile--with-carousel--narrow">
          <h3 class="tile--title">Quick Inspiration</h3>
          <p class="tile--description">Share a fun fact about your business! Some ideas:</p>
          <div class="tile--carousel-controls">
            <span class="tile--carousel-prev"></span><span class="tile--carousel-next"></span>
          </div>
          <div class="tile--carousel-wrapper">
            <div class="tile-carousel-item tile-carousel-item--prompt">Describe what inspired you to start your business.</div>
            <div class="tile-carousel-item tile-carousel-item--prompt">Post a picture of your office or working space.</div>
            <div class="tile-carousel-item tile-carousel-item--prompt">Share the product or service you’re most proud of – and say why!</div>
            <div class="tile-carousel-item tile-carousel-item--prompt">Share an image of the first thing you ever sold. Tell the story!</div>
            <div class="tile-carousel-item tile-carousel-item--prompt">Have a co-founder or first employee? Introduce them to your followers!</div>
          </div>
        </div>

        <div class="tile-minivan">
          <h3 class="tile-minivan--heading">Dates of Interest</h3>
        {% for date in week21 %}
        <div class="tile">
          <div class="tile--icon"><img src="/assets/images/emojis/{{date.icon}}.png" /></div>
          <div class="tile--body">
            <p class="tile--details"><a href="">Details</a></p>
            <h3 class="tile--title">{{date.name}}</h3>
            <p class="tile--date">{{date.date | date: "%A, %b %d" }}</p>
            <div class="tile--expandedContent">
              <p class="tile--description">{{date.description}}</p>

              {% assign hashtags = date.hashtags | split: " " %}
              <div class="tile--hashtags-wrapper">
              {% for hashtag in hashtags %}
                <div class="tile--hashtag-pill">
                  <p>
                    <span class="tile--hashtag-itself">{{hashtag}} <span class="tile--hashtag-copy" data-hashtag="{{hashtag}}">(<u>copy</u>)</span></span>
                    <span class="tile--hashtag-outbound">View on <a href="https://www.instagram.com/explore/tags/{{hashtag | slice: 1, hashtag.size}}/" target="_blank">Instagram</a></span>
                  </p>
                </div>
              {% endfor %}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        </div>
      </div>
    </article>

    <article>
      <div class="secondary date_range">
        <div class="date-ribbon">
          <h4>Week of</h4>
          <h3>May 30</h3>
        </div>
      </div>
      <div class="primary tile-wrapper">
        <div class="tile tile--featured">
          <img class="tile--image" src="/assets/images/stock-memorial.png" />
          <h3 class="tile--title">Memorial Day Weekend</h3>
          <p class="tile--description">Depending on your business and your audience, there are a few ways to post about this. For some, it marks commemeration of fallen soliders. For others, it’s symbolic of the official start of summer.</p>
        </div>
        <div class="tile-minivan">
          <h3 class="tile-minivan--heading">Dates of Interest</h3>
        {% for date in week22 %}
        <div class="tile">
          <div class="tile--icon"><img src="/assets/images/emojis/{{date.icon}}.png" /></div>
          <div class="tile--body">
            <p class="tile--details"><a href="">Details</a></p>
            <h3 class="tile--title">{{date.name}}</h3>
            <p class="tile--date">{{date.date | date: "%A, %b %d" }}</p>
            <div class="tile--expandedContent">
              <p class="tile--description">{{date.description}}</p>

              {% assign hashtags = date.hashtags | split: " " %}
              <div class="tile--hashtags-wrapper">
              {% for hashtag in hashtags %}
                <div class="tile--hashtag-pill">
                  <p>
                    <span class="tile--hashtag-itself">{{hashtag}} <span class="tile--hashtag-copy" data-hashtag="{{hashtag}}">(<u>copy</u>)</span></span>
                    <span class="tile--hashtag-outbound">View on <a href="https://www.instagram.com/explore/tags/{{hashtag | slice: 1, hashtag.size}}/" target="_blank">Instagram</a></span>
                  </p>
                </div>
              {% endfor %}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        </div>
      </div>
    </article>

    <article>
      <div class="secondary date_range">
        <div class="date-ribbon">
          <h4>Week of</h4>
          <h3>June 6</h3>
        </div>
      </div>
      <div class="primary tile-wrapper">
        <div class="tile tile--featured tile--with-carousel tile--with-carousel--over tile--with-carousel--narrow">
          <h3 class="tile--title">Father's Day is Next Sunday!</h3>
          <p class="tile--description">Here's some suggested templates for your next post.</p>
          <div class="tile--carousel-controls">
            <span class="tile--carousel-prev"></span><span class="tile--carousel-next"></span>
          </div>
          <div class="tile--carousel-wrapper">
            <div class="tile-carousel-item tile-carousel-item--over-item">
              <img class="tile-carousel-item--over-item--image" src="/assets/images/sample-posts/dad1.png" />
            </div>
            <div class="tile-carousel-item tile-carousel-item--over-item">
              <img class="tile-carousel-item--over-item--image" src="/assets/images/sample-posts/dad3.png" />
            </div>
            <div class="tile-carousel-item tile-carousel-item--over-item">
              <img class="tile-carousel-item--over-item--image" src="/assets/images/sample-posts/dad10.png" />
            </div>
            <div class="tile-carousel-item tile-carousel-item--over-item">
              <img class="tile-carousel-item--over-item--image" src="/assets/images/sample-posts/dad2.png" />
            </div>
            <div class="tile-carousel-item tile-carousel-item--over-item">
              <img class="tile-carousel-item--over-item--image" src="/assets/images/sample-posts/dad4.png" />
            </div>
            <div class="tile-carousel-item tile-carousel-item--over-item">
              <img class="tile-carousel-item--over-item--image" src="/assets/images/sample-posts/dad5.png" />
            </div>
            <div class="tile-carousel-item tile-carousel-item--over-item">
              <img class="tile-carousel-item--over-item--image" src="/assets/images/sample-posts/dad6.png" />
            </div>
            <div class="tile-carousel-item tile-carousel-item--over-item">
              <img class="tile-carousel-item--over-item--image" src="/assets/images/sample-posts/dad7.png" />
            </div>
            <div class="tile-carousel-item tile-carousel-item--over-item">
              <img class="tile-carousel-item--over-item--image" src="/assets/images/sample-posts/dad8.png" />
            </div>
            <div class="tile-carousel-item tile-carousel-item--over-item">
              <img class="tile-carousel-item--over-item--image" src="/assets/images/sample-posts/dad9.png" />
            </div>

            <div class="tile-carousel-item tile-carousel-item--over-item">
              <img class="tile-carousel-item--over-item--image" src="/assets/images/sample-posts/dad11.png" />
            </div>
            <div class="tile-carousel-item tile-carousel-item--over-item">
              <img class="tile-carousel-item--over-item--image" src="/assets/images/sample-posts/dad12.png" />
            </div>
          </div>
        </div>
        <div class="tile-minivan">
          <h3 class="tile-minivan--heading">Dates of Interest</h3>
        {% for date in week23 %}
        <div class="tile">
          <div class="tile--icon"><img src="/assets/images/emojis/{{date.icon}}.png" /></div>
          <div class="tile--body">
            <p class="tile--details"><a href="">Details</a></p>
            <h3 class="tile--title">{{date.name}}</h3>
            <p class="tile--date">{{date.date | date: "%A, %b %d" }}</p>
            <div class="tile--expandedContent">
              <p class="tile--description">{{date.description}}</p>

              {% assign hashtags = date.hashtags | split: " " %}
              <div class="tile--hashtags-wrapper">
              {% for hashtag in hashtags %}
                <div class="tile--hashtag-pill">
                  <p>
                    <span class="tile--hashtag-itself">{{hashtag}} <span class="tile--hashtag-copy" data-hashtag="{{hashtag}}">(<u>copy</u>)</span></span>
                    <span class="tile--hashtag-outbound">View on <a href="https://www.instagram.com/explore/tags/{{hashtag | slice: 1, hashtag.size}}/" target="_blank">Instagram</a></span>
                  </p>
                </div>
              {% endfor %}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        </div>
      </div>
    </article>

    <article>
      <div class="secondary date_range">
        <div class="date-ribbon">
          <h4>Week of</h4>
          <h3>June 13</h3>
        </div>
      </div>
      <div class="primary tile-wrapper">
        <div class="tile-minivan">
          <h3 class="tile-minivan--heading">Dates of Interest</h3>
        {% for date in week24 %}
        <div class="tile">
          <div class="tile--icon"><img src="/assets/images/emojis/{{date.icon}}.png" /></div>
          <div class="tile--body">
            <p class="tile--details"><a href="">Details</a></p>
            <h3 class="tile--title">{{date.name}}</h3>
            <p class="tile--date">{{date.date | date: "%A, %b %d" }}</p>
            <div class="tile--expandedContent">
              <p class="tile--description">{{date.description}}</p>

              {% assign hashtags = date.hashtags | split: " " %}
              <div class="tile--hashtags-wrapper">
              {% for hashtag in hashtags %}
                <div class="tile--hashtag-pill">
                  <p>
                    <span class="tile--hashtag-itself">{{hashtag}} <span class="tile--hashtag-copy" data-hashtag="{{hashtag}}">(<u>copy</u>)</span></span>
                    <span class="tile--hashtag-outbound">View on <a href="https://www.instagram.com/explore/tags/{{hashtag | slice: 1, hashtag.size}}/" target="_blank">Instagram</a></span>
                  </p>
                </div>
              {% endfor %}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        </div>
      </div>
    </article>

  </div>
</div>

<!-- Javascript -->
<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/shootingstar.js"></script>
