---
layout: mvp
permalink: "/date-only"
---
{% assign week19 = site.data.mvpv3 | where: "week","19" %}
{% assign week20 = site.data.mvpv3 | where: "week","20" %}
{% assign week21 = site.data.mvpv3 | where: "week","21" %}
{% assign week22 = site.data.mvpv3 | where: "week","22" %}
{% assign week23 = site.data.mvpv3 | where: "week","23" %}
{% assign week24 = site.data.mvpv3 | where: "week","24" %}
{% assign week25 = site.data.mvpv3 | where: "week","25" %}
{% assign week26 = site.data.mvpv3 | where: "week","26" %}

<h1>Admin View</h1>
<p class="subhead"><a href="https://docs.google.com/spreadsheets/d/1F-zfXlRT6-4Xa2T-cckYQwzTp7SExaSBwfbX4YNBSZ0/edit#gid=2139753352">Google Sheet</a> | <a href="/">Design for user test</a> | <a href="/date-only">Date-only version</a> | <a href="/eow">End-of-week version</a></p>

<div class="feed-wrapper clearfix">
  <div class="feed-controls">
    <a class="new_post_button">+ Create Social Post</a>
    <div class="tile tile-calendar" data-current-month="May">
      <span class="calendar-next"></span>
      <span class="calendar-prev"></span>
      <span class="calendar-today"></span>
      <img class="calendar-image" width="100%" src="/assets/images/cal-may.png" />
    </div>

    <!-- <h4 class="tile-scheduled-posts--heading">My Scheduled Posts:</h4>
    <div class="tile tile-scheduled-posts" style="height: 200px;"></div> -->
  </div>



  <div class="feed-main">

    <article>
      <div class="secondary date_range">
        <div class="date-ribbon">
          <h3>This Week</h3>
          <h4>May 16–22</h4>
        </div>
      </div>
      <div class="primary tile-wrapper">
        <div class="tile-minivan">
          <h3 class="tile-minivan--heading">Dates of Interest</h3>
          {% for date in week20 %}
          <div class="tile">
            <div class="tile--icon"><img src="/assets/images/emojis/{{date.icon}}.png" /></div>
            <div class="tile--body">
              <p class="tile--details"><a href="">Details</a></p>
              <h3 class="tile--title">{{date.name}}</h3>
              <p class="tile--date">{{date.date | date: "%A, %b %d" }}</p>
              <div class="tile--expandedContent">
                <p class="tile--description">{{date.description}}</p>

                {% assign hashtags = date.hashtags | split: " " %}
                <div class="tile--hashtags-wrapper">
                {% for hashtag in hashtags %}
                  <div class="tile--hashtag-pill">
                    <p>
                      <span class="tile--hashtag-itself">{{hashtag}} <span class="tile--hashtag-copy" data-hashtag="{{hashtag}}">(<u>copy</u>)</span></span>
                      <span class="tile--hashtag-outbound">View on <a href="https://www.instagram.com/explore/tags/{{hashtag | slice: 1, hashtag.size}}/" target="_blank">Instagram</a></span>
                    </p>
                  </div>
                {% endfor %}
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </article>

    <article>
      <div class="secondary date_range">
        <div class="date-ribbon">
          <h3>Next Week</h3>
          <h4>May 23–29</h4>
        </div>
      </div>
      <div class="primary tile-wrapper">
        <div class="tile-minivan">
          <h3 class="tile-minivan--heading">Dates of Interest</h3>
        {% for date in week21 %}
        <div class="tile">
          <div class="tile--icon"><img src="/assets/images/emojis/{{date.icon}}.png" /></div>
          <div class="tile--body">
            <p class="tile--details"><a href="">Details</a></p>
            <h3 class="tile--title">{{date.name}}</h3>
            <p class="tile--date">{{date.date | date: "%A, %b %d" }}</p>
            <div class="tile--expandedContent">
              <p class="tile--description">{{date.description}}</p>

              {% assign hashtags = date.hashtags | split: " " %}
              <div class="tile--hashtags-wrapper">
              {% for hashtag in hashtags %}
                <div class="tile--hashtag-pill">
                  <p>
                    <span class="tile--hashtag-itself">{{hashtag}} <span class="tile--hashtag-copy" data-hashtag="{{hashtag}}">(<u>copy</u>)</span></span>
                    <span class="tile--hashtag-outbound">View on <a href="https://www.instagram.com/explore/tags/{{hashtag | slice: 1, hashtag.size}}/" target="_blank">Instagram</a></span>
                  </p>
                </div>
              {% endfor %}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        </div>
      </div>
    </article>

    <article>
      <div class="secondary date_range">
        <div class="date-ribbon">
          <h4>Week of</h4>
          <h3>May 30</h3>
        </div>
      </div>
      <div class="primary tile-wrapper">
        <div class="tile-minivan">
          <h3 class="tile-minivan--heading">Dates of Interest</h3>
        {% for date in week22 %}
        <div class="tile">
          <div class="tile--icon"><img src="/assets/images/emojis/{{date.icon}}.png" /></div>
          <div class="tile--body">
            <p class="tile--details"><a href="">Details</a></p>
            <h3 class="tile--title">{{date.name}}</h3>
            <p class="tile--date">{{date.date | date: "%A, %b %d" }}</p>
            <div class="tile--expandedContent">
              <p class="tile--description">{{date.description}}</p>

              {% assign hashtags = date.hashtags | split: " " %}
              <div class="tile--hashtags-wrapper">
              {% for hashtag in hashtags %}
                <div class="tile--hashtag-pill">
                  <p>
                    <span class="tile--hashtag-itself">{{hashtag}} <span class="tile--hashtag-copy" data-hashtag="{{hashtag}}">(<u>copy</u>)</span></span>
                    <span class="tile--hashtag-outbound">View on <a href="https://www.instagram.com/explore/tags/{{hashtag | slice: 1, hashtag.size}}/" target="_blank">Instagram</a></span>
                  </p>
                </div>
              {% endfor %}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        </div>
      </div>
    </article>

    <article>
      <div class="secondary date_range">
        <div class="date-ribbon">
          <h4>Week of</h4>
          <h3>June 6</h3>
        </div>
      </div>
      <div class="primary tile-wrapper">
        <div class="tile-minivan">
          <h3 class="tile-minivan--heading">Dates of Interest</h3>
        {% for date in week23 %}
        <div class="tile">
          <div class="tile--icon"><img src="/assets/images/emojis/{{date.icon}}.png" /></div>
          <div class="tile--body">
            <p class="tile--details"><a href="">Details</a></p>
            <h3 class="tile--title">{{date.name}}</h3>
            <p class="tile--date">{{date.date | date: "%A, %b %d" }}</p>
            <div class="tile--expandedContent">
              <p class="tile--description">{{date.description}}</p>

              {% assign hashtags = date.hashtags | split: " " %}
              <div class="tile--hashtags-wrapper">
              {% for hashtag in hashtags %}
                <div class="tile--hashtag-pill">
                  <p>
                    <span class="tile--hashtag-itself">{{hashtag}} <span class="tile--hashtag-copy" data-hashtag="{{hashtag}}">(<u>copy</u>)</span></span>
                    <span class="tile--hashtag-outbound">View on <a href="https://www.instagram.com/explore/tags/{{hashtag | slice: 1, hashtag.size}}/" target="_blank">Instagram</a></span>
                  </p>
                </div>
              {% endfor %}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        </div>
      </div>
    </article>

    <article>
      <div class="secondary date_range">
        <div class="date-ribbon">
          <h4>Week of</h4>
          <h3>June 13</h3>
        </div>
      </div>
      <div class="primary tile-wrapper">
        <div class="tile-minivan">
          <h3 class="tile-minivan--heading">Dates of Interest</h3>
        {% for date in week24 %}
        <div class="tile">
          <div class="tile--icon"><img src="/assets/images/emojis/{{date.icon}}.png" /></div>
          <div class="tile--body">
            <p class="tile--details"><a href="">Details</a></p>
            <h3 class="tile--title">{{date.name}}</h3>
            <p class="tile--date">{{date.date | date: "%A, %b %d" }}</p>
            <div class="tile--expandedContent">
              <p class="tile--description">{{date.description}}</p>

              {% assign hashtags = date.hashtags | split: " " %}
              <div class="tile--hashtags-wrapper">
              {% for hashtag in hashtags %}
                <div class="tile--hashtag-pill">
                  <p>
                    <span class="tile--hashtag-itself">{{hashtag}} <span class="tile--hashtag-copy" data-hashtag="{{hashtag}}">(<u>copy</u>)</span></span>
                    <span class="tile--hashtag-outbound">View on <a href="https://www.instagram.com/explore/tags/{{hashtag | slice: 1, hashtag.size}}/" target="_blank">Instagram</a></span>
                  </p>
                </div>
              {% endfor %}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        </div>
      </div>
    </article>

  </div>
</div>

<!-- Javascript -->
<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/shootingstar.js"></script>
