---
permalink: "/firehose-health-wellness"
title: Health & Wellness | Firehose
layout: home
---

{% assign health_wellness = site.data.postsLatest | where: "business_type", "health_and_wellness" %}

{% include firehose_nav.html %}

<div class="content-area">
  <div class="section filter-items--category">
    {% for post in health_wellness %}
    <div class="tile has_left_large clearfix" data-category="{{post.content_type}}">
      <div class="tile_media_left">
        <a target="_blank" href="https://passport.mainstreethub.com/location/{{post.location_id}}"><img src="https://media.mainstreethub.com/media/{{post.media_id}}?width=150" /></a>
      </div>
      <div class="tile_body">
        <h4 class="caption">{{post.text}}</h4>
        <ul class="tile_meta">
          <li class="tile_meta__tag">{{post.business_type}} • {{post.content_type}}</li>
          <li class="tile_meta__author">{{post.author_name}} • {{post.media_id}}</li>
          <li class="tile_meta__published">{{post.publish_after}}</li>
        </ul>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="content-aside">
  <h4>Filter by category:</h4>
  <ul class="tile-post-filters filter-item-wrapper filter-links--category">
    <a class="filter-item filter-item--all filter-item--active" data-filterName="All Categories" href="">All Categories</a>
    <a class="filter-item" data-filterName="ABOUT" href="">About</a>
    <a class="filter-item" data-filterName="BUSINESS_OPERATIONS" href="">Business Ops</a>
    <a class="filter-item" data-filterName="EDUCATIONAL" href="">Educational</a>
    <a class="filter-item" data-filterName="EVENT_SPECIAL" href="">Event/Special</a>
    <a class="filter-item" data-filterName="PARTICIPATION" href="">Participation</a>
    <a class="filter-item" data-filterName="PRODUCT_OR_SERVICE" href="">Product/Service</a>
    <a class="filter-item" data-filterName="TESTIMONIAL" href="">Testimonial</a>
    <a class="filter-item" data-filterName="HOLIDAY" href="">Holiday</a>
  </ul>
</div>
