---
layout: home
permalink: "/patterns"
---
<p class="breadcrumb"><a href="">&nbsp;</a></p>
<h1>Pattern Library</h1>

<div class="content-area">
<div class="section">
  <h3>Hashtags</h3>
  <div class="tile has_left has_right">
    <div class="tile_media_left">
      <span class="tile_hashtag">{% include icon-hashtag.svg %}</span>
    </div>
    <div class="tile_media_right">
      <span class="tile_socialLinks">
        <a href="https://www.instagram.com/explore/tags/{{hashtag.name}}/" target="_blank">{% include icon-instagram.svg %}</a>
        <a href="https://twitter.com/search?q=%23{{hashtag.name}}" target="_blank">{% include icon-twitter.svg %}</a>
      </span>
    </div>
    <div class="tile_body">
      <h3>hashtag <a data-hashtag="#hashtag" class="copy-button copy-hashtag" href="#">copy</a></h3>
      <p>Can be used for Women's History Month content</p>
    </div>
  </div>
</div>
<div class="section">
  <h3>Upcoming Topics</h3>
  <div class="tile has_left has_right">
    <div class="tile_media_left">
      <div class="emoji_wrapper">🥔</div>
    </div>
    <div class="tile_media_right">
      <span class="tile_aside_date">
        <span class="tile_aside_primary">Wednesday</span>
        <span class="tile_aside_secondary">Mar 14</span>
      </span>
    </div>
    <div class="tile_body">
      <h3>National Potato Chip Day</h3>
      <p>National Potato Chip Day on March 14th celebrates America’s #1 snack food. Millions will enjoy their favorite chip this holiday. Recommended content: restaurants with chips on the menu – try asking followers their favorite flavor or even if they prefer chips over fries. #NationalPotatoChipDay</p>
      <ul class="tile_meta">
        <li class="tile_meta__recommendation has_hover">Posting Recommendation<div class="flyout_wrapper"><span class="flyout_content">This is a test of why you should do this thing and not do the other thing. Do you understand? This is a test of why you should do this thing and not do the other thing. Do you understand?</span></div></li>
      </ul>
    </div>

  </div>
</div>
<div class="section">
  <h3>Holidays</h3>
  <div class="tile has_left has_right">
    <div class="tile_media_left">
      <div class="emoji_wrapper">👩‍</div>
    </div>
    <div class="tile_media_right">
      <span class="tile_aside_date">
        <span class="tile_aside_primary">Monday</span>
        <span class="tile_aside_secondary">Mar 8</span>
      </span>
    </div>
    <div class="tile_body">
      <h3>International Women's Day</h3>
      <p>A global holiday celebrating the social, economic, cultural, and political achievements of women. Consider posting about this holiday for women-run or women-focused businesses.</p>
      <p><a href="">Learn more »</a></p>
    </div>
  </div>
</div>
<div class="section">
  <h3>Featured Posts</h3>
  <div class="tile has_left_large clearfix">
    <div class="tile_media_left">
      <img src="https://media.mainstreethub.com/media/85e281c8-e1e8-4411-ad4e-ce07f515aa07?width=150" />
    </div>
    <div class="tile_body">
      <h4 class="caption">Woof! Meet one of our favorite clients: Lola! This sweet little French bulldog never fails to melt our hearts. We want to meet your cute pets, too -- let's have a play date: (214) 923-1985.</h4>
      <ul class="tile_meta">
        <li class="tile_meta__tag">Health and Wellness • Product or Service</li>
        <li class="tile_meta__author">Brandon Kenning</li>
        <li class="tile_meta__notes has_hover">Editor’s Notes<div class="flyout_wrapper"><span class="flyout_content">This is a test of why you should do this thing and not do the other thing. Do you understand? This is a test of why you should do this thing and not do the other thing. Do you understand?</span></div></li>
      </ul>
    </div>
  </div>
</div>

</div>
<div class="content-aside">
  <h4>Jump to a section:</h4>
  <ul>
    <li><a href="#">Hashtags</a></li>
    <li><a href="#">Upcoming Topics</a></li>
    <li><a href="#">Holidays</a></li>
    <li><a href="#">Posts</a></li>
  </ul>
</div>
