---
layout: home
permalink: /verticals/professional-services
---



<p class="breadcrumb"><a href="/">&larr; Home</a></p>

<h1>Professional Services <span class="last_updated">Updated Friday, April 30</span></h1>

<div class="section">
  <h3>Hashtags</h3>
  {% assign hashtags_proServices = site.data.hashtags | where: "vertical", "Professional Services" %}
  {% for hashtag in hashtags_proServices %}
  <div class="tile has_left has_right">
    <div class="tile_media_left">
      <span class="tile_hashtag">{% include icon-hashtag.svg %}</span>
    </div>
    <div class="tile_media_right">
      <span class="tile_socialLinks">
        <a href="https://www.instagram.com/explore/tags/{{hashtag.name}}/" target="_blank">{% include icon-instagram.svg %}</a>
        <a href="https://twitter.com/search?q=%23{{hashtag.name}}" target="_blank">{% include icon-twitter.svg %}</a>
      </span>
    </div>
    <div class="tile_body">
      <h3>{{hashtag.name}} <a data-hashtag="#{{hashtag.name}}" class="copy-button copy-hashtag" href="#">copy</a></h3>
      <p>{{hashtag.description}}</p>
    </div>
  </div>
  {% endfor %}
</div>


<div class="section">
  <h3>Upcoming Topics</h3>

  {% assign topics_proServices = site.data.topics | where: "vertical", "Professional Services" %}

  {% for topic in topics_proServices %}
  <div class="tile has_left has_right">
    <div class="tile_media_left">
      <div class="emoji_wrapper">{{ topic.emoji }}</div>
    </div>
    <div class="tile_media_right">
      <span class="tile_aside_date">
        <span class="tile_aside_primary">{{ topic.day }}</span>
        <span class="tile_aside_secondary">{{ topic.date }}</span>
      </span>
    </div>
    <div class="tile_body">
      <h3>{{ topic.name }}</h3>
      <p>{{ topic.description }}&nbsp;{% if topic.url %}<a href="{{topic.url}}">Learn more »</a>{% endif %}</p>
      {% if topic.posting_recommendation %}
      <ul class="tile_meta">
        <li class="tile_meta__recommendation has_hover">Posting Recommendation<div class="flyout_wrapper"><span class="flyout_content">{{ topic.posting_recommendation }}</span></div></li>
      </ul>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>

<div class="section">
  <h3>Common Terms & Phrases</h3>
  {% assign phrases_proServices = site.data.phrases | where: "vertical", "Professional Services" %}
  {% for phrase in phrases_proServices %}
  <div class="tile">
    <div class="tile_body">
      <h3>{{ phrase.name }}</h3>
      <p>{{ phrase.description }}&nbsp;{% if topic.url %}<a href="{{topic.url}}">Learn more »</a>{% endif %}</p>
    </div>
  </div>
  {% endfor %}
</div>


<div class="section">
  <h3>Featured Posts</h3>
  {% assign filtered_posts = site.data.posts | where: "vertical", "Professional Services" %}
  {% if filtered_posts.size == 0 %}
    <p>There aren't any featured posts for this subvertical.</p>
  {% else %}
  {% for post in filtered_posts %}
  <div class="tile has_left_large clearfix">
    <div class="tile_media_left">
      <img src="{{post.media}}?width=150" />
    </div>
    <div class="tile_body">
      <h4 class="caption">{{post.caption}}</h4>
      <ul class="tile_meta">
        <li class="tile_meta__tag">{{post.category}}</li>
        <li class="tile_meta__author">{{post.author}}</li>
        <li class="tile_meta__notes has_hover">Editor’s Notes<div class="flyout_wrapper"><span class="flyout_content">{{post.comment}}</span></div></li>
      </ul>
    </div>
  </div>
  {% endfor %}
  {% endif %}
  <br /><br /><br /><br /><br /><br /><br /><br />
</div>
