<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Primary Meta Tags -->
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="title" content="{{ site.title }}">
  <meta name="description" content="{{ site.description }}">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ site.url }}">
  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:image" content="{{ site.url }}/assets/images/site-preview.png">

<!-- favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
<link rel="manifest" href="/assets/images/favicon/site.webmanifest">



  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <!-- <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet"> -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{{ "/assets/mvp.css" | relative_url }}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/assets/js/interaction.js"></script>

  <script>
    $(document).ready(function(){

      $('.tile--hashtag-copy').click(function(){
        var hashtag = $(this).data('hashtag');
        copyToClipboard(hashtag);
        var chloe = this;
        $(chloe).find('u').addClass('copy-copied').text("copied!");
        setTimeout(function(){
          $(chloe).find('u').removeClass('copy-copied').text("copy");
        }, 2000);

        return false;
      });

      function copyToClipboard(element) {
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val(element).select();
        document.execCommand("copy");
        $temp.remove();
      }

      $('.tile--details').click(function(){
        $(this).toggleClass('tile--details--expanded').parent().find('.tile--expandedContent').toggle();
        prepArticles();
        $(window).scroll();
        return false;
      });

      $('.calendar-next').click(function(){
        if ( $(this).parent().attr('data-current-month') == "May" ) {
          $(this).parent().attr('data-current-month',"June");
          $('.calendar-image').attr('src','/assets/images/cal-june.png');
          return false;
        }
        if ( $(this).parent().attr('data-current-month') == "June" ) {
          $(this).parent().attr('data-current-month',"July");
          $('.calendar-image').attr('src','/assets/images/cal-july.png');
          return false;
        }
        if ( $(this).parent().attr('data-current-month') == "July" ) {
          $(this).parent().attr('data-current-month',"August");
          $('.calendar-image').attr('src','/assets/images/cal-aug.png');
          return false;
        }
      });

      $('.calendar-prev').click(function(){
        if ( $(this).parent().attr('data-current-month') == "June" ) {
          $(this).parent().attr('data-current-month',"May");
          $('.calendar-image').attr('src','/assets/images/cal-may.png');
          return false;
        }
        if ( $(this).parent().attr('data-current-month') == "July" ) {
          $(this).parent().attr('data-current-month',"June");
          $('.calendar-image').attr('src','/assets/images/cal-june.png');
          return false;
        }
        if ( $(this).parent().attr('data-current-month') == "August" ) {
          $(this).parent().attr('data-current-month',"July");
          $('.calendar-image').attr('src','/assets/images/cal-july.png');
          return false;
        }
      });




      // Normal carousel
      $('.tile--carousel-next').click(function(){
        scrollAmount = $(this).parent().next('.tile--carousel-wrapper').scrollLeft();
        if ( $(this).closest('.tile--with-carousel').hasClass('.tile--with-carousel--narrow') ) {
          var distance = 160;
        } else {
          var distance = 490;
        }
        $(this).parent().next('.tile--carousel-wrapper').scrollLeft( scrollAmount+distance );
        return false;
      });
      $('.tile--carousel-prev').click(function(){
        scrollAmount = $(this).parent().next('.tile--carousel-wrapper').scrollLeft();
        if ( $(this).closest('.tile--with-carousel').hasClass('.tile--with-carousel--narrow') ) {
          var distance = 210;
        } else {
          var distance = 490;
        }
        $(this).parent().next('.tile--carousel-wrapper').scrollLeft( scrollAmount-distance );
        return false;
      });


    });
  </script>

</head>
