---
---

$color-accent: #27A7F9;

/* -- Reset -- */

html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


html {
  scroll-behavior: smooth;
}

/*-- Type --*/

    body {
      font-family: 'Lato', sans-serif;
      font-size: 16px;
      line-height: 1.5;
      color: #333;
      background: #F5F7F8;
    }

    h1 {
      font-size: 48px;
      line-height: 1.1;
      font-weight: 900;
      margin-bottom: 16px;
      margin-top: 48px;
    }
    p.subhead {
      font-size: 21px;
      margin-top: 0;
    }



/* SHOOTING STAR */

    /* -- LAYOUT -- */

            /* A section is a horiztonal band/stripe/row on the page.
               Defaults to the <body> bg color but can have its own color. */
            // .section        { padding: 20px; }

            /* If the page is at least 768px, center the content at that width.
               Otherwise it will be 100% wide. */
            // @media (min-width: 768px) {
            //   .content { width: 768px; margin: 0 auto; }
            // }

            /* If you want full width content no matter what,
               add class '.content-full' to any 'div.content' */
            // .content-full   { margin: 0; width: 100%; }

            /* new stuff from not 5 years ago */

            .feed-wrapper {
              position: relative;
            }

            @media (min-width: 1100px) {
              .feed-controls { width: 300px; float: right; }
              .feed-controls.fixed { position: fixed; top: 0; right: calc((100% - 1100px)/2); }
              .feed-main { width: 720px; float: left; }
            }

            @media (max-width: 1099px) {
              .feed-controls { display: none; }
              .feed-main { width: auto; float: none; }
            }

            .ss-container {
              width: 1100px;
              margin: 0 auto;
              position: relative;
            }
            @media (max-width: 1099px) {
              .ss-container {
                width: auto;
              }
            }

    /* -- */

      @media (min-width: 1200px) {
        article               { position: relative; }
        article .primary      { left: 170px;     top: 0; width: 600px; }
        article .secondary    { /* left: 0px; */ top: 0; width: 170px; height: 100px; }
      }

  /* Tiles */

  .tile-minivan {
    background: #fff;
    padding: 21px;
    border: 1px solid #d4dbe0;
  }
  .tile-minivan--heading {
    color: #F38F48;
    font-size: 12px;
    text-transform: uppercase;
    margin: 0 0 16px 0;
  }

  .tile {
    background: white;
    border-radius: 4px;
    padding: 12px;
    margin: 0 0 8px 0;
    border: 1px solid #e6e6e6;
    position: relative;
  }
  .tile:hover {
    box-shadow: 0 2px 16px rgba(0,0,0,0.08);
  }
  @media (max-width: 1099px) {
    .tile { margin-bottom: 8px; }
  }
  .tile--icon {
    float: left;
    padding-top: 7px;
    padding-left: 5px;
    img {
      width: 26px;
      height: 26px;
    }
  }
  .tile .tile--body {
    padding-left: 48px;
  }




  .tile .tile--title {
    margin: 0;
    font-weight: 900;
    font-size: 16px;
    padding-right: 88px;
  }
  .tile .tile--date {
    margin: 0;
  }
  .tile .tile--description {
    margin: 12px 0 0 0;
    color: #777;
  }
  .tile--details {
    position: absolute;
    margin: 0;
    right: 20px;
    top: 20px;
    a {
      background-color: #F5f5f5;
      border-radius: 2px;
      color: #8c8c8c;
      display: inline-block;
      padding: 5px 24px 5px 10px;
      text-decoration: none;
      font-size: 14px;
      background-image: url(/assets/images/icon-expand.svg);
      background-repeat: no-repeat;
      background-position: 92% 8px;
      background-size: 16px 16px;
    }
    a:hover {
      background-color: #f0f0f0;
    }
  }
  .tile--details--expanded a {
    background-image: url(/assets/images/icon-close.svg);
    background-size: 12px 12px;
    background-position: 88% 10px;
  }
  .tile--expandedContent {
    display: none;
    margin-bottom: 12px;
    margin-top: 12px;
    border-top: 1px solid #eee;
  }
  .tile--hashtags-wrapper {
    margin-top: 16px;
  }
  .tile--hashtag-pill {
    margin-top: 4px;
    margin-bottom: 4px;
    background: #e8f5f5;
    border-radius: 3px;
    padding: 10px 15px;
    font-size: 14px;
    p {
      margin: 0;
      overflow: hidden;
      width: auto;
      color: #777;
    }
    .tile--hashtag-itself {
      float: left;
      font-weight: 900;
      color: #555;
      cursor: pointer;
    }
    .tile--hashtag-outbound {
      float: right;
      a {
        color: inherit;
      }
    }
  }
  .tile--hashtag-copy {
    font-weight: 400;
    font-size: 13px;
    color: #777;
  }


// Featured Tile Wrapper

.tile.tile--featured {
  background: #D8EFEF;
  border: 1px solid #D8EFEF;
  padding-left: 21px;
  padding-bottom: 21px;
  padding-top: 21px;
  padding-right: 21px;
  margin-bottom: 16px;
  &:hover {
    box-shadow: none;
  }
}
.tile.tile--featured .tile--image {
  float: right;
  // background: black;
  // opacity: .1;
  height: 240px;
  // border-radius: 12px;
  // margin-left: 24px;
  position: relative;
}
.tile.tile--featured .tile--title {
  color: #09757A;
  font-size: 21px;
  margin: 0 0 4px 0;

}
.tile.tile--featured .tile--description {
  color: #222;
  font-size: 16px;
}
.tile--cta {
  margin: 16px 0 0 0;
}
.tile--cta a {
  display: inline-block;
  background: #09757A;
  color: white;
  text-decoration: none;
  padding: 8px 15px;
  font-size: 14px;
}


/* Planner UI - Date Area */

.date-ribbon {
  height: 69px;
  background: url(/assets/images/date-ribbon.svg) no-repeat left top;
  text-align: right;
  margin-top: 32px;
  margin-right: 16px;
  border-radius: 4px;
  padding-right: 12px;
}

.date-ribbon h3 {
  font-weight: 700;
  font-size: 19px;
  color: #AA6D00;
}
.date-ribbon h4 {
  color: #AA6D00;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
}
.date-ribbon > h3,
.date-ribbon > h4 {
  padding: 10px 0 0 0;
  margin: 0;
}
.date-ribbon > h3 + h4 {
  margin: 0;
  padding: 0;
}

.date-ribbon > h4 + h3 {
  padding: 0;
}

    @media (max-width: 1099px) {
      .date_range {
        margin-bottom: 16px;
      }
    }

/* Planner UI - Main Feed */

.tile-wrapper {
  padding-top: 32px;
}

    @media (max-width: 1099px) {
      .tile-wrapper {
        padding-top: 0;
      }
    }

/* Planner UI - Calendar column */

.feed-controls .new_post_button {
  text-decoration: none; text-align: center; font-size: 16px; font-weight: 700; background: #222; color: #fff; display: block; padding: 15px 0; margin-top: 32px; border-radius: 2px; cursor: pointer;
}

.feed-controls .tile-calendar {
  margin-top: 16px;
  padding: 8px 0 0 0;
  text-align: center;
  position: relative;
}

    .calendar-next {
      width: 60px;
      height: 60px;
      // background: pink;
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      z-index: 2;
    }

    .calendar-prev {
      width: 60px;
      height: 60px;
      // background: pink;
      position: absolute;
      top: 0;
      left: 0;
      cursor: pointer;
      z-index: 2;
    }

    [data-current-month="May"] .calendar-today {
      width: 100%;
      display: block;
      height: 330px;
      z-index: 1;
      position: absolute;
      background-repeat: no-repeat;
      background-size: cover;
    }

.tile-scheduled-posts--heading {
  margin-top: 32px;
  margin-bottom: 12px;
}


// Tile carousel

    .tile.tile--with-carousel {
      padding-bottom: 0;
    }
    .tile--carousel-wrapper {
      margin-top: 16px;
      margin-right: -21px;
      margin-left: -21px;
      // padding-bottom: 8px;
      // overflow-y: hidden;
      // height: 400px;
      overflow: auto;
      white-space: nowrap;
      padding-right: 21px;
      scroll-behavior: smooth;
      padding-bottom: 16px;
    }
    .tile-carousel-item {
      height: 180px;
      background: white;
      display: inline-block;
      margin-left: 21px;
    }
    .tile--carousel-controls {
      position: absolute;
      right: 21px;
      top: 21px;
    }
    .tile--carousel-controls span {
      cursor: pointer;
      margin-right: 2px;
      // text-decoration: underline;
      // margin-left: 8px;
    }

        .tile--carousel-next,
        .tile--carousel-prev {
          width:  28px;
          height: 28px;
          border: 1px solid rgba(0,0,0,0.1);
          display: inline-block;
        }

        .tile--carousel-next {
          background: url(/assets/images/icon-arrow-right.svg) no-repeat center center;
          border-left: 0;
        }
        .tile--carousel-prev {
          background: url(/assets/images/icon-arrow-left.svg) no-repeat center center;
        }


    // Post gallery within gallery

    .tile-carousel-item--post {
      width: 490px;
      white-space: normal;
      padding: 8px 16px 8px 8px;
      border-radius: 4px;
      &:hover {
        box-shadow: 0 2px 16px rgba(0,0,0,0.08);
      }
    }
    .tile-carousel-item--post--image {
      height: 100%;
      width: auto;
      float: left;
      padding-right: 21px;
    }
    .tile-carousel-item--post--caption {
      font-style: italic;
      margin-bottom: 12px;
      font-size: 14px;
      font-weight: 300;
      padding: 12px 0 0 0;
      height: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .tile-carousel-item--post--cta a {
      display: inline-block;
      background: #09757A;
      color: white;
      text-decoration: none;
      padding: 8px 15px;
      font-size: 14px;
    }

    // Over gallery within Gallery

    .tile-carousel-item--over-item {
      background: none;
      margin-left: 8px;
      cursor: pointer;
    }
    .tile-carousel-item--over-item:first-child {
      margin-left: 21px;
    }
    .tile-carousel-item--over-item--image {
      height: 200px;
      box-shadow: 0 4px 16px rgba(0,0,0,0.15);
      &:hover {
        box-shadow: 0 4px 16px rgba(0,0,0,0.3);
      }
    }

    // Prompts

    .tile.tile--with-prompts {
      background: #fff;
      padding: 21px 21px 0px;
      border: 1px solid #d4dbe0;
      .tile--title {
        color: #F38F48;
        font-size: 12px;
        text-transform: uppercase;
        margin: 0 0 4px 0;
        font-weight: 700;
      }
    }
    .tile-carousel-item--prompt {
      width: 172px;
      height: 210px;
      vertical-align: top;
      padding: 16px;
      white-space: normal;
      background: #D8EFEF;
      color: #09757A;
      font-weight: 700;
      margin-left: 8px;
      line-height: 1.4;
      &:hover {
        box-shadow: 0 2px 16px rgba(0,0,0,0.08);
      }
    }
    .tile-carousel-item--prompt:first-child {
      margin-left: 21px;
    }
